.presence_icons {
    background-color: black;
    min-height: 100px;
    min-width: 100px;
    text-align: center;
}
.fab {
    margin: 50px;
    font-size: 28px;
}

.fa-strava {
}

.fa-twitter{
}

.fa-github {
}