<% var includePrefix="../../"; %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(includePrefix + 'includes'); %>
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </head>
    <body>
        <div class="container">
            <h3 color="black">$ man   _miguelq</h3>
            <img class="profile_pic" src="images/ProfilePic.jpg">
            <p>
                Hi, I'm Miguel Quaresma, a Masters Student in Computer Engineering at Universidade do Minho.
                I'm interested in all things computers, and have a really hard time accepting that I won't be
                able to "learn all the things" so I've decided to focus on a few topics:
                <ul>
                    <li>Cryptography</li>
                    <li>Low level programming</li>
                    <li>Embedded Systems Security</li>
                    <li>Eletronics</li>
                    <li>Mathematics</li>
                </ul>
                Currently I'm pursuing a Masters in Computer Engineering with a focus on information security and high performance
                computing.
                Outside of engineering I love to play in the mountains, running or cycling, read books on a myriad of topics and
                travel.
                <br>
                This website is an attempt to document my projects and blog about the things I'll learn along the way and topics
                relevant in a wide range of areas.
            </p>
            
            <p>
                <h4>TL; DR</h4>
                <b>Name:</b> 
                <br>
                Miguel Quaresma
                <br>
                <b>Education:</b> 
                <br>
                MSc. in Computer Engineering Student at Universidade do Minho
                <br>
                <b>Topics of Interest:</b> 
                <br>
                Cryptography, Embedded Systems, Low-level programming, Electronics, Mathematics
                <br>
                <b>Languages:</b> 
                <br>
                Portuguese (native), English (professional), Spanish (basic)
                <br>
                <b>Hobbies:</b> 
                <br>
                Mountain Athlete, Reading
            </p>
        </div>            
        <%- include(includePrefix + 'partial/navbar'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/includes/bootstrap.min.js"></script>
    </body>
</html>