<% var includePrefix="../../../"; %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(includePrefix + 'includes'); %>
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </head>
    <body>
        <%- include(includePrefix + 'partial/navbar'); %>
        <%- include(includePrefix + 'partial/footer'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/includes/bootstrap.min.js"></script>
    </body>
</html>