<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<div class="presence_icons">
    <a href="https://github.com/MQuaresma"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/miguel-quaresma-042b07145"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.strava.com/athletes/4564921"><i class="fab fa-strava"></i></a>
    <a href="https://twitter.com/miguelmirq"><i class="fab fa-twitter"></i></a>
</div>