<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('includes'); %>
      <link rel="stylesheet" type="text/css" href="css/home.css">
  </head>
  <body>    
    <%- include('partial/navbar'); %>
    <div class="welcome_div">
        <div class="who_am_i">
            <h1><span class="border">Miguel Quaresma</span></h1>
            <h3><span class="border">(add description here)</span></h3>
        </div>
    </div>

    <div class="description">
        <img class="profile_pic" src="images/ProfilePic.jpg">
        <div class="qa">
            <span class="question">Who are you?</span>
            <br>
            <span class="answer">My name is Miguel Quaresma, I'm a computer enthusiast with a keen interest in cryptography, computer architecture and eletronics.</span>
            <br>
            <span class="question">Is that it?</span>
            <br>
            <span class="answer">No, not at all! I'm also an avid trail-runner, cyclist and try to spend as much time outdoors as possible. Not your stereotypical developer huh?</span>
            <br>
            <span class="question">So what do you do exatcly?</span>
            <br>
            <span class="answer">Currently I'm taking a Masters in Computer Engineering at Universidade do Minho. When I'm not studying you can find me either training (I do a lot of that) or tinkering with my own personal projects</span>
        </div>
    </div>

    <%- include('partial/footer'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="includes/bootstrap.min.js"></script>
  </body>
</html>