<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('includes'); %>
      <link rel="stylesheet" type="text/css" href="css/home.css"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>    
    <%- include('partial/navbar'); %>
    <div class="welcome_div">
        <div class="who_am_i">
            <h1><span class="border">Miguel Quaresma</span></h1>
            <h4><span class="border">Computer Engineering Student, Trail Runner/Cyclist, Hacker/Tinkerer</span></h4>
        </div>
    </div>

    <div class="description">
        <img class="profile_pic" src="images/ProfilePic.jpg">
        <div class="qa">
            <b>Who are you?</b>
            <br>
            My name is Miguel Quaresma, I'm a computer engineer with a keen interest in Cryptography, Computer Architecture and Eletronics.
            <br>
            <b>Is that it?!</b>
            <br>
            No, not at all! I'm also an avid trail-runner, cyclist and try to spend as much time outdoors as possible. Not your stereotypical developer huh?!
            <br>
            <b>So what do you do exatcly?</b>
            <br>
            Currently I'm taking a Masters in Computer Engineering at Universidade do Minho. When I'm not studying you can find me either training (I do a lot of that) or tinkering with my own personal projects
            <br>
            <b>What is this website for?</b>
            <br>
            This website will be used as a medium to share my interests, current projects and struggles. It will also allow me to learn a bit more about web development.
        </div>
    </div>

    <%- include('partial/footer'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/includes/bootstrap.min.js"></script>
  </body>
</html>