.welcome_div{
    background-image: url("../images/empty-road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.border{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
}

body, html{
    height: 100%;
    margin: 0;
}

.who_am_i {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5%;
    background-color: rgb(251, 250, 250);
}

.profile_pic {
    border-radius: 50%;
    height: 200px;
    float:right;
}

.qa{
    padding: 20px;
    text-align: justify;
    max-width: 68%;
}