<link rel="stylesheet" type="text/css" href="css/footer.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="presence_icons">
    <a href="https://github.com/MQuaresma"><i class="fab fa-github"></i></a>
    <a href="https://www.strava.com/athletes/4564921"><i class="fab fa-strava"></i></a>
    <a href="www.linkedin.com/in/miguel-quaresma-042b07145"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/miguelmirq"><i class="fab fa-twitter"></i></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>