.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/eletronics-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
    height: 100%;
    text-align: center;
}

.border{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
}

body, html{
    height: 100%;
    margin: 0;
}