<% var includePrefix="../../"; %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(includePrefix + 'includes'); %>
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </head>
    <body>
        <%- include(includePrefix + 'partial/navbar'); %>
        <div class="banner">
            <h1>
                <span class="border">
                    &lth1&gt Computer Science &lt&#47h1&gt
                </span>
            </h1>
        </div>
        <div class="posts">
            <%- include(includePrefix + 'partial/post_summary', 
                        {post : 
                            {
                                thumb_path: "/computersci/images/sokoban-thumb.png", 
                                title: "Sokoban", 
                                description:"Implementation of Sokoban using Haskell and Gloss for graphics"
                            }
                        });%>
        </div>
        <%- include(includePrefix + 'partial/footer'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/includes/bootstrap.min.js"></script>
    </body>
</html>